{% extends "base.html.twig" %}

{% block title %}
    <title>ViaggIn: chi siamo? Magazine e blog di viaggi ed eventi</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="ViaggIn: chi siamo? Blog e magazine di viaggi, eventi in Italia e all'estero, documenti per viaggiare e guide aggiornate per vivere e trasferirsi all'estero">
{% endblock %}

{% block body %}
    <section class="chi-siamo">
        <div class="chi-siamo__container-content">
            <h1 class="h1">Chi siamo</h1>
            <p>&nbsp;</p>
            <p class="body-2"><em>ViaggIn</em> è un magazine online specializzato nell’informazione relativa ai viaggi.</p>
            <p>&nbsp;</p>
            <p class="body-2">Noi di <em>ViaggIn</em> crediamo che viaggiare ti cambia la vita, che sia un modo per aprire i confini della propria mente.</p>
            <p>&nbsp;</p>
            <p class="body-2">Noi di <em>ViaggIn</em> crediamo che ci sia un posto nel modo per tutti, anche per te.</p>
            <p>&nbsp;</p>
            <p class="body-2">Questi sono i motivi che ci spingono ogni giorno a raccontare quello che succede nel mondo, dalla tua città fino agli antipodi del tuo paese.</p>
            <p>&nbsp;</p>
            <p class="body-2">Facciamo tutto questo con articoli e guide che hanno il fine di creare valore e di far viaggiare informati e preparati.</p>
            <p>&nbsp;</p>
            <p class="body-2">La nostra missione è quella di essere un punto di riferimento per tutti coloro che stanno cercando la propria destinazione in giro per il mondo, qualunque essa sia.</p>
            <p>&nbsp;</p>
        </div>
        <div class="chi-siamo__container-authors">
            <h2 class="chi-siamo__authors-title h2">Collaborano ed hanno collaborato con ViaggIn</h2>
            <div class="author-card">
                <a href="{{ path('app_author') }}" class="author-card__link link-no-style">
                    <div class="author-card__container-title">
                        <h2 class="h3">Marco Valeri</h2>
                    </div>
                    <div class="author-card__container-content">
                        <p class="author-card__paragraph body-2">
                            <img class="author-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                            Mi chiamo Marco Valeri, sono nato a Roma e attualmente vivo a Londra, città che mi ha cambiato la vita.
                            Laureato in Computer Science alla Birkbeck University of London, divoro libri, amo scrivere e non mi stanco mai di conoscere cose nuove, soprattutto legate alla comunicazione, alla crescita personale e allo sviluppo del web.
                            Ho fatto praticamente ogni tipo di lavoro per mantenermi e questo mi ha permesso di capire che l’età non è mai un limite per essere ciò che vuoi essere.
                            “La disciplina è libertà” è quel concetto che provo a mettere in pratica ogni giorno.
                            Oggi lavoro a Londra come Software Engineer
                        </p>
                    </div>
                </a>
            </div>
            <div class="author-card">
                <a href="{{ path('app_author') }}" class="author-card__link link-no-style">
                    <div class="author-card__container-title">
                        <h2 class="h3">Marco Valeri</h2>
                    </div>
                    <div class="author-card__container-content">
                        <p class="author-card__paragraph body-2">
                            <img class="author-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                            Mi chiamo Marco Valeri, sono nato a Roma e attualmente vivo a Londra, città che mi ha cambiato la vita.
                            Laureato in Computer Science alla Birkbeck University of London, divoro libri, amo scrivere e non mi stanco mai di conoscere cose nuove, soprattutto legate alla comunicazione, alla crescita personale e allo sviluppo del web.
                            Ho fatto praticamente ogni tipo di lavoro per mantenermi e questo mi ha permesso di capire che l’età non è mai un limite per essere ciò che vuoi essere.
                            “La disciplina è libertà” è quel concetto che provo a mettere in pratica ogni giorno.
                            Oggi lavoro a Londra come Software Engineer
                        </p>
                    </div>
                </a>
            </div>
            <div class="author-card">
                <a href="{{ path('app_author') }}" class="author-card__link link-no-style">
                    <div class="author-card__container-title">
                        <h2 class="h3">Marco Valeri</h2>
                    </div>
                    <div class="author-card__container-content">
                        <p class="author-card__paragraph body-2">
                            <img class="author-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                            Mi chiamo Marco Valeri, sono nato a Roma e attualmente vivo a Londra, città che mi ha cambiato la vita.
                            Laureato in Computer Science alla Birkbeck University of London, divoro libri, amo scrivere e non mi stanco mai di conoscere cose nuove, soprattutto legate alla comunicazione, alla crescita personale e allo sviluppo del web.
                            Ho fatto praticamente ogni tipo di lavoro per mantenermi e questo mi ha permesso di capire che l’età non è mai un limite per essere ciò che vuoi essere.
                            “La disciplina è libertà” è quel concetto che provo a mettere in pratica ogni giorno.
                            Oggi lavoro a Londra come Software Engineer
                        </p>
                    </div>
                </a>
            </div>
            <div class="author-card">
                <a href="{{ path('app_author') }}" class="author-card__link link-no-style">
                    <div class="author-card__container-title">
                        <h2 class="h3">Marco Valeri</h2>
                    </div>
                    <div class="author-card__container-content">
                        <p class="author-card__paragraph body-2">
                            <img class="author-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                            Mi chiamo Marco Valeri, sono nato a Roma e attualmente vivo a Londra, città che mi ha cambiato la vita.
                            Laureato in Computer Science alla Birkbeck University of London, divoro libri, amo scrivere e non mi stanco mai di conoscere cose nuove, soprattutto legate alla comunicazione, alla crescita personale e allo sviluppo del web.
                            Ho fatto praticamente ogni tipo di lavoro per mantenermi e questo mi ha permesso di capire che l’età non è mai un limite per essere ciò che vuoi essere.
                            “La disciplina è libertà” è quel concetto che provo a mettere in pratica ogni giorno.
                            Oggi lavoro a Londra come Software Engineer
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}