{% extends "base.html.twig" %}

{% block body %}
    <section class="contact">
        <div class="contact__container-content">
            <h1 class="h1">ViaggIn Contatti </h1>
            <p>&nbsp;</p>
            <p class="body-2">Per qualsiasi comunicazione è possibile comunicare con lo staff di <em>ViaggIn</em> compilando il seguente form.</p>
        </div>
    </section>
{% endblock %}