{% extends "base.html.twig" %}

{% block title %}
    <title>ViaggIn: elenco e descrizione di tutte le categorie</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="ViaggIn: elenco completo di tutte le categorie del blog e magazine, quali viaggi, eventi nel mondo, documenti di viaggio e guide per viver all'estero">
{% endblock %}

{% block data_structure %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Page",
            "headline": "ViaggIn: elenco e descrizione di tutte le categorie"
        }
    </script>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://www.viaggin.com/categories">
{% endblock %}

{% block body %}
    <section class="home__main">
        <div class="home__container-categories">
            <div class="home__container-category home__container-viaggi">
                <h2 class="home__category-title h2">Viaggi</h2>
                <p class="home__category-description body-2">I Viaggi di <em>ViaggIn</em>: itinerari, destinazioni e curiosità da ogni parte del mondo</p>
                <a class="button button--black" href="{{ path('app_category_viaggi') }}">Scopri di più</a>
            </div>
            <div class="home__container-category home__container-eventi">
                <h2 class="home__category-title h2">Eventi</h2>
                <p class="home__category-description body-2">Gli Eventi di <em>ViaggIn</em>: musei, sagre, feste, esposizioni e curiosità da ogni parte del mondo</p>
                <a class="button button--black" href="{{ path('app_category_eventi') }}">Scopri di più</a>
            </div>
            <div class="home__container-category home__container-documenti">
                <h2 class="home__category-title h2">Documenti</h2>
                <p class="home__category-description body-2">Documenti di viaggio di <em>ViaggIn</em>: guide per viaggiare informati</p>
                <a class="button button--black" href="{{ path('app_category_documenti') }}">Scopri di più</a>
            </div>
            <div class="home__container-category home__container-estero">
                <h2 class="home__category-title h2">Vivere all'estero</h2>
                <p class="home__category-description body-2">Vivere all'estero: guide pratiche, accurate e aggiornate per trasferisi a vivere all'estero</p>
                <a class="button button--black" href="{{ path('app_category_estero') }}">Scopri di più</a>
            </div>
        </div>
    </section>
{% endblock %}