{% extends "base.html.twig" %}

{% block body %}
    <section class="home__main">
        <div class="home__container-categories">
            <div class="home__container-category home__container-viaggi">
                <h2 class="home__category-title h2">Viaggi</h2>
                <p class="home__category-description body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="{{ path('app_category_viaggi') }}">Scopri di pi첫</a>
            </div>
            <div class="home__container-category home__container-eventi">
                <h2 class="home__category-title h2">Eventi</h2>
                <p class="home__category-description body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="{{ path('app_category_eventi') }}">Scopri di pi첫</a>
            </div>
            <div class="home__container-category home__container-documenti">
                <h2 class="home__category-title h2">Documenti</h2>
                <p class="home__category-description body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="{{ path('app_category_documenti') }}">Scopri di pi첫</a>
            </div>
            <div class="home__container-category home__container-estero">
                <h2 class="home__category-title h2">Vivere all'estero</h2>
                <p class="home__category-description body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="{{ path('app_category_estero') }}">Scopri di pi첫</a>
            </div>
        </div>
    </section>
{% endblock %}