{% extends "base.html.twig" %}

{% block body %}
    <section class="category__container">
        <div class="category__container-categories">
            <div class="category__container-category category__container-category--red">
                <h2 class="category__category-title h2">Eventi</h2>
                <p class="category__category-description body-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
            </div>
        </div>
    </section>
    <section class="home__container-articles">
        <div class="home__container-title">
            <h2 class="h2">Gli eventi di ViaggIn: tutti gli articoli</h2>
        </div>
        <div class="article-card">
            <a href="#" class="article-card__link link-no-style">
                <div class="article-card__container-title">
                    <h2 class="h3">Autunno in montagna: dove andare? 8 mete autunnali</h2>
                </div>
            </a>
            <div class="article-card__container-data">
                <span class="article-card__data body-6">Pubblicato il 24/06/2022 - Marco Valeri - 0 commenti</span>
            </div>
            <div class="article-card__container-content">
                <p class="article-card__paragraph body-2">
                    <img class="article-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil odit, incidunt consequatur, commodi vel dolor alias laborum, ducimus qui repellendus! Neque a soluta explicabo nemo fugiat vitae nulla sit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae illo laboriosam atque expedita ipsa natus eos odio, nisi vero quibusdam velit perferendis voluptatibus, labore nam! Fuga rem placeat dolores labore.
                </p>
            </div>
        </div>
        <div class="article-card">
            <a href="#" class="article-card__link link-no-style">
                <div class="article-card__container-title">
                    <h2 class="h3">Autunno in montagna: dove andare? 8 mete autunnali</h2>
                </div>
            </a>
            <div class="article-card__container-data">
                <span class="article-card__data body-6">Pubblicato il 24/06/2022 - Marco Valeri - 0 commenti</span>
            </div>
            <div class="article-card__container-content">
                <p class="article-card__paragraph body-2">
                    <img class="article-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil odit, incidunt consequatur, commodi vel dolor alias laborum, ducimus qui repellendus! Neque a soluta explicabo nemo fugiat vitae nulla sit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae illo laboriosam atque expedita ipsa natus eos odio, nisi vero quibusdam velit perferendis voluptatibus, labore nam! Fuga rem placeat dolores labore.
                </p>
            </div>
        </div>
        <div class="article-card">
            <a href="#" class="article-card__link link-no-style">
                <div class="article-card__container-title">
                    <h2 class="h3">Autunno in montagna: dove andare? 8 mete autunnali</h2>
                </div>
            </a>
            <div class="article-card__container-data">
                <span class="article-card__data body-6">Pubblicato il 24/06/2022 - Marco Valeri - 0 commenti</span>
            </div>
            <div class="article-card__container-content">
                <p class="article-card__paragraph body-2">
                    <img class="article-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil odit, incidunt consequatur, commodi vel dolor alias laborum, ducimus qui repellendus! Neque a soluta explicabo nemo fugiat vitae nulla sit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae illo laboriosam atque expedita ipsa natus eos odio, nisi vero quibusdam velit perferendis voluptatibus, labore nam! Fuga rem placeat dolores labore.
                </p>
            </div>
        </div>
        <div class="article-card">
            <a href="#" class="article-card__link link-no-style">
                <div class="article-card__container-title">
                    <h2 class="h3">Autunno in montagna: dove andare? 8 mete autunnali</h2>
                </div>
            </a>
            <div class="article-card__container-data">
                <span class="article-card__data body-6">Pubblicato il 24/06/2022 - Marco Valeri - 0 commenti</span>
            </div>
            <div class="article-card__container-content">
                <p class="article-card__paragraph body-2">
                    <img class="article-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil odit, incidunt consequatur, commodi vel dolor alias laborum, ducimus qui repellendus! Neque a soluta explicabo nemo fugiat vitae nulla sit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae illo laboriosam atque expedita ipsa natus eos odio, nisi vero quibusdam velit perferendis voluptatibus, labore nam! Fuga rem placeat dolores labore.
                </p>
            </div>
        </div>
        <div class="article-card">
            <a href="#" class="article-card__link link-no-style">
                <div class="article-card__container-title">
                    <h2 class="h3">Autunno in montagna: dove andare? 8 mete autunnali</h2>
                </div>
            </a>
            <div class="article-card__container-data">
                <span class="article-card__data body-6">Pubblicato il 24/06/2022 - Marco Valeri - 0 commenti</span>
            </div>
            <div class="article-card__container-content">
                <p class="article-card__paragraph body-2">
                    <img class="article-card__img" src="../images/cambiare-vita-a-30-anni.webp" alt="Cambiare vita a 30 anni">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nihil odit, incidunt consequatur, commodi vel dolor alias laborum, ducimus qui repellendus! Neque a soluta explicabo nemo fugiat vitae nulla sit.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae illo laboriosam atque expedita ipsa natus eos odio, nisi vero quibusdam velit perferendis voluptatibus, labore nam! Fuga rem placeat dolores labore.
                </p>
            </div>
        </div>
    </section>
{% endblock %}