.article-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include respond(sm) {
        flex-direction: column;
    }

    &__container-btn-prev {
        @include respond(sm) {
            margin-bottom: 2rem;
        }
    }
}
