.author {

    &__container-all-authors {
        text-align: center;
        margin: 5rem auto;
    }

    &__container-articles {
        margin: 5rem auto;
    }

    &__container-title {
        text-align: center;
    }

}