.home {
    
    // Main container
    &__container-categories {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__container-category {
        width: 40rem;
        min-height: 30rem;
        padding: 2rem 2rem 4rem 2rem;
        margin: 1rem;
        text-align: center;
        transition: transform .8s;
        border-radius: 5px;

        &:hover {
            transform: scale(1.05);
        }

        @include respond(xxl) {
            width: 35rem;
            margin: 2rem 1rem;
        }

        @include respond(xl) {
            width: 80%;
            height: auto;
            min-height: auto;
            margin: 2rem auto;
            padding: 2rem 2rem 5rem 2rem;
        }
    }

    &__category-title {
        margin-bottom: 2rem;
    }

    &__category-description {
        margin-bottom: 4rem;
    }

    &__container-viaggi {
        background-image: linear-gradient(
            to bottom right,
            rgba(247, 247, 247, 0.8),
            rgba(255, 211, 73, 0.8)
        );
    }

    &__container-eventi {
        background-image: linear-gradient(
            to bottom left,
            rgba(247, 247, 247, 0.8),
            rgba(255, 120, 90, 0.8)
        );
    }

    &__container-documenti {
        background-image: linear-gradient(
            to top right,
            rgba(247, 247, 247, 0.8),
            rgba(255, 120, 90, 0.8)
        );
    }

    &__container-estero {
        background-image: linear-gradient(
            to top left,
            rgba(247, 247, 247, 0.8),
            rgba(255, 211, 73, 0.8)
        );
    }

    // Last articles container
    &__container-articles {
        width: 90%;
        margin: 5rem auto;
    }

    &__container-title {
        text-align: center;
        margin-bottom: 5rem;
    }

}