.home {
    
    &__main {
        width: 90%;
        margin: auto;
        border: 1px solid #f00;
    }

    &__container-categories {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid #f00;
    }

    &__container-category {
        width: 65rem;
        min-height: 30rem;
        padding: 2rem;
        margin: 2rem 4rem;
        text-align: center;
        border: 1px solid #f00;

        &:hover {
            transition: transform .5s;
            transform: scale(1.1);
        }
    }

    &__category-title {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    &__category-description {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }

    &__container-viaggi {
        
    }

    &__container-eventi {

    }

    &__container-documenti {

    }

    &__container-estero {

    }

}