{% extends "base.html.twig" %}

{% block body %}
    <main class="home__main">
        <div class="home__container-categories">
            <div class="home__container-category home__container-viaggi">
                <h2 class="home__category-title">Viaggi</h2>
                <p class="home__category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--yellow" href="#">Scopri di pi첫</a>
            </div>
            <div class="home__container-category home__container-eventi">
                <h2 class="home__category-title">Eventi</h2>
                <p class="home__category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="#">Scopri di pi첫</a>
            </div>
            <div class="home__container-category home__container-documenti">
                <h2 class="home__category-title">Documenti</h2>
                <p class="home__category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="#">Scopri di pi첫</a>
            </div>
            <div class="home__container-category home__container-estero">
                <h2 class="home__category-title">Vivere all'estero</h2>
                <p class="home__category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, exercitationem esse? Repudiandae similique, dignissimos consectetur maxime explicabo exercitationem ipsam mollitia! Quae necessitatibus ratione iure minus quam dolorum non amet praesentium!</p>
                <a class="button button--black" href="#">Scopri di pi첫</a>
            </div>
        </div>
    </main>
{% endblock %}